[submodule "submodule1"]
	path = submodule1
	url = https://github.com/olandesino/ex1.git
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/olandesino/ex1.git
[submodule "submodule3"]
	path = submodule3
	url = https://github.com/olandesino/ex1.git
